<!DOCTYPE html>
	<title>修改房间信息</title>
<body background="/static/icon/000_.jpg">
<div align="center">
<h1>
    <br><br><br><br>
	<h3>修改房间名称 </h3>
	<form action = "" method = "post" enctype=multipart/form-data>
        <input type="text" name="room_name" id="room_name" placeholder="房间名称">
	<h3>修改房间详情 </h3>
        <input type="text" name="room_introduction" id="room_introduction" placeholder="房间详情">
    <h3>更换房间头像 </h3>
		<input type = "file" name = file size="100px">
		<input type = "submit" value = 保存>
	</form>
</h1></div></body>