<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var socket = io();
        socket.on('connect', function() {
            });
        socket.on('roomchat', function (msg, cb) {
            $('#log').append('<br>' + $('<div/>').text( msg.name+': ' + msg.data).html());
            if (cb)
                cb();
            });
        socket.on('welcome', function (msg, cb) {
            $('#log').append('<br>' + $('<div/>').text('欢迎"'+msg.name+'"进入了房间:'+msg.room).html());
            if (cb)
                cb();
            });
        socket.on('leaveroom', function (msg, cb) {
            $('#log').append('<br>' + $('<div/>').text(msg.name+'"离开了房间:'+msg.room).html());
            if (cb)
                cb();
            });
        socket.on('close_room', function (msg, cb) {
            $('#log').append('<br>' + $('<div/>').text('房间“'+msg.room+"”已关闭").html());
            if (cb)
                cb();
            });
        socket.on('people_num', function(msg,cb) {
            $('#peoplenum').empty()
            $('#peoplenum').append($('<span/>').text(msg).html());
            if (cb)
                cb();
            });
        $().ready(function (event) {
             socket.emit('join');
             return false;
        });
        $('form#change_name').submit(function (event) {
             socket.emit('changenamee',{data:$('#changenames').val()});
             return false;
        });
        $('form#roomchat').submit(function (event) {
             socket.emit('my_room_event',{data:$('#room_chatdata').val()});
             return false;
        });
        $('form#closingroom').submit(function (event) {
             socket.emit('close_room');
             return false;
        });
        $('form#changeroomname').submit(function (event) {
             socket.emit('changeroomnamee',{room:$('#change_room_name').val()});
             return false;
        });
        $('form#leaveroom').submit(function (event) {
             socket.emit('leave');
             return false;
        });
    });
</script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    当前在线人数：<span id="peoplenum"></span>
    <h2>Send:</h2>
    <img    src="{{r.image}}" height="128" width="128" ><br>
    房间名：{{r.name}}<br>
    房间详情：{{r.introduction}}<br>
    <form id="change_name" method="POST" action='#'>
        <input type="text" name="changenames" id="changenames" placeholder="修改名称" value={{name}}>
        <input type="submit" value="修改名称">
    </form>
    <form id="roomchat" method="post" action="#">
        <input type="text" name="room_chatdata" id="room_chatdata" placeholder="您要发送的消息">
        <input type="submit" value="发送到此房间">
    </form>
    <form id="leaveroom" method="post" action="#">
        <input type="submit" value="离开此房间">
    </form>
    {% if master == room %}
    <form id="closingroom" method="post" action="#">
        <input type="submit" value="关闭房间">
    </form>
    <a href="{{ url_for('changeroom',room=room) }}">修改房间信息</a><br>
    {% endif %}
    <h2>Receive:</h2>
    {% for i in resp.data %}
    {% if i.name %}
    {{i.name}}:{{i.data}}<br>
    {% else %}
    {{i.data}}<br>
    {% endif %}
    {% endfor %}
    <div id="log"></div>
</body>
</html>
